.a{
    background-color: brown;
}
.a2{
    background-color: darkcyan;
}
.a3{
    background-color: green;
}
.a4{
    background-color: rgb(78, 77, 77);
}
.w{
    background-color: rgb(204, 204, 204);
}